<div class="row justify-content-between m-t-15">

  <div class="col-4">
    <div class="form-group">
      <label>Search</label>
      <div class="search-icon"><i class="fa fa-search"></i></div>
      {{input class="search-bar general-search" value=searchText placeholder="Name, Set Id, Theme"}}
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <label>Sort By</label>
      {{#power-select
        options=availableSortFields
        renderInPlace=true
        selected=selectedSortBy
        searchEnabled=false
        searchField="sortField"
        placeholder="Name, Set Id, Price, Recently Reviewed"
        onChange=(action "setSortField")
        as |option|
      }}
        {{option.title}}
      {{/power-select}}
    </div>
  </div>
</div>

<div class="row">
  {{#each filteredSets as |set|}}
    <div class="col-lg-4 col-md-6 set-card-wrapper">
      {{set-card set=set transitionToSet=(action "transitionToSet")}}
    </div>
  {{/each}}
</div>
