/* JBS Variables*/
$logo-yellow: #F3B900;
$jbs-black: #070808;
$lego-orange: rgb(253, 128, 36);

/* Layout */
html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f5f5f5;
}

.main-flex-body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

/* Headers / Footers */
.jbs-header {
  // background-color: $logo-blue;
  background-color: $logo-yellow;
  // background-color: #000;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid $black;

  img.name-as-img {
    padding-top: 5px;
    height: 50px;
    width: auto;
  }
  .header-title {
    // color: #000;
    color: #fff;
    // color: $logo-yellow;
    margin: 4px 0 0;
    line-height: 42px;
  }
  .header-subtitle {
    // color: #dedede;
    color: #000;
    margin: 0 0 4px;
    font-size: 16px;
    font-weight: 600;
  }
}

.jbs-footer {
  border-top: 1px solid $mdGray;
  background: $ltGray;
  padding: 5px 0;
}

/* admin pages */
.set-modal-image {
  img {
    height: 175px;
  }
}

img.in-row-image {
  height: 100px;
}

.theme-header-preview {
  .logo-wrapper {
    background-color: rgb(0, 0, 0);
    background-position: center center;
    padding: 15px 0;
    justify-content: center;
    margin: 0 0 15px 0;
    max-height: 12.5rem;
    -webkit-box-pack: center;
    img {
      height: 60px;
    }
  }
}

.form-check-input {
  margin-top: 0;
}

.card {
  .card-header {
    .card-title {
      font-weight: bold;
      font-size: 16px;
    }
    .card-title-secondary {
      color: $dkGray;
      font-size: 13px;
    }
  }
}

/* home page */

/* about section */
.home-about-wrapper {
  // max-width: 300px;
  margin: auto;
  img.about-logo {
    height: 150px;
    border-radius: 75px;
    width: auto;
  }
}

.home-socials {
  img {
    margin-top: 15px;
    transition: 0.2s;
    max-width: 250px;
    width: 100%;
    &:hover {
      box-shadow: 1px 2px 4px $dkGray;
    }
  }
}

/* sets section */
.set-card-wrapper {
  // margin-bottom: 15px;
}

.set-card {
  height: 100%;

  .card-img-top {
    text-align: center;
    padding: 15px;
    position: relative;
    .favorite-star {
      color: $logo-yellow;
      font-size: 20px;
      top: 15px;
      left: 15px;
      position: absolute;
      transition: font-size .3s ease;
      &:hover {
        font-size: 24px;
      }
    }
    .card-img-wrapper {
      height: 180px;
      img.card-img {
        width: 95%;
        height: 95%;
        object-fit: contain;
        transition: transform .75s;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  .card-body {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.set-card-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: left;
}

.set-card-subheader {
  color: $dkGray;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.set-card-description {
  color: #666;
  &.line-clamp {
    // @include line-clamp(4);
  }
}

.element-label {
  color: $black;
  font-family: 'Montserrat';
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}

.card-element {
  padding: 10px 0;
  p {
    text-align: center;
  }
  p.element-prop {
    color: $black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }

  p.element-label {
    color: $dkGray;
    font-family: 'Montserrat';
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
  }
}



div.element-delimiter {
  height: 44px;
  width: 1px;
  border-right: 1px solid $mdGray;
  background-color: $mdGray;
}
div.delimiter-bottom {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $mdGray;
}

.big-set-card {
  .set-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  img.set-theme-logo {
    height: 40px;
  }
  .set-card-header {
    font-size: 30px;
  }
  .set-card-subheader {
    font-size: 16px;
  }

  .card-element,
  .card-element p {
    text-align: left;
  }

  .card-element {
    p.element-prop {
      font-size: 24px;
    }
    p.element-label {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/* Buttons */

.btn-jbs {
  @extend .btn-primary;
  background-color: $jbs-black;
  border-color: $jbs-black;
  &:hover, &:focus {
    background-color: lighten($jbs-black, 12%) !important;
    border-color: lighten($jbs-black, 12%) !important;
  }
}
.btn {
  font-size: 16px;
  font-weight: bold;
}

.btn-jbs-light {
  background-color: #fff !important;
  color: $jbs-black !important;
  border: none;
  &:hover,
  &:focus {
    background-color: darken(#fff, 5%) !important;
    border: none;
  }
}

.btn-jbs-dark {
  background-color: $jbs-black !important;
  color: #fff !important;
  &:hover,
  &:focus {
    background-color: lighten($jbs-black, 15%) !important;
  }
}

.btn-orange {
  @extend .btn-primary;
  background-color: darken($lego-orange, 10%);
  border-color: darken($lego-orange, 10%);
  color: #fff;
  &:hover, &:focus {
    background-color: $lego-orange !important;
    border-color: $lego-orange !important;
  }
}

.wide-button {
  min-width: 250px;
}

/* About page */
.question {
  font-weight: bold;
}
