// STRUCTURE
// ----------
.outer-wrapper {
  clear: both;
  // min-width: 640px;
}

.row.w-100 {
  margin-left: auto;
  margin-right: auto;
}

body > .ember-view {
  height: 100%;
  & > .side-nav {
    height: calc(100% - 48px); // max height minus global-header
  }
}

.container, .container-fluid {
  flex: 1;
}

.loading .project-index-container {
  height: 100%;
}

//Login Page
.placeholder {
  background-color: #ccd0bf;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 1100px;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 1.5s ease;
}

.placeholder img.loaded {
  opacity: 1;
  height: 100%;
  width: 1100px;
}

.placeholder .img-small {
  opacity: 1;
  width: 1100px;
}

.img-small {
  filter: blur(40px);
  transform: scale(1);
  height: 100%;
}

img.markdown-example {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.login-wrapper {
  background: none;
  height: 100vh;
}

.project-page-outlet {
  height: calc(100vh - 102px);
  overflow: hidden;
}

// To ensure footer is always at bottom
.inner-content {
  width: 100%;
  margin: 0;
  // margin-bottom: -92px; // width of header + footer
  // padding-top: 10px;
  padding-left: 56px;
  // height: calc(100vh - 74px); // 47px header + 27px footer
  height: 100%;
  // overflow: scroll;

  &.no-sidebar {
    padding-left: 0;
  }
}

.inner-wrapper {
  background: $dashboard-background; //background grey
  // border-bottom: 1px solid #ddd;
  float: left;
  padding: 15px;
  width: 100%;

  &.dark {
    background: #eee;
    padding-top: 1em;

    .component-section {

      label {
        border-color: #ddd;
      }

      .table-row .table-cell.nopadding {
        background: none;
      }
    }
  }
}

// .admin-nav {
//   position: relative;
//   font-size: 10px;
//   text-transform: uppercase;
//   left: 0;
//   top: 0;
//   height: 70px;
//   background: white;
//   width: 100%;
//   display: inline-flex;
//   // justify-content: space-between;
//   align-items: center;
//   padding: 0 10px 0 10px;
// }

.nav-link {
  float: left;
  a {
    padding: 10px;
    color: $black;
  }
  &:hover a {
    border-bottom: 2px solid $black;
  }
  .active {
    border-bottom: 2px solid $black;
    font-weight: $bold;
  }
}

.nav-tabs li a {
  font-size: 11.5px;
  &.active {
    border-bottom: none;
  }
  &:hover a{
    border-bottom: none;
  }
}

// .nav-tabs .nav-item .nav-link {
//   &:hover{
//     background: white;
//   }
//
//   & a.active {
//     font-size: 18px;
//     background: white;
//     background-size: 100%;
//   }
// }

// .nav-tabs .nav-item {
//   &.active {
//     background: white;
//   }
// }

// .nav-tabs .nav-item li {
//   &
// }

// .admin-nav-right {
//   // float: right;
//   & a {
//     margin-right: 10px;
//   }
// }
#primary-nav {
	margin: 0 0 30px 0;
	float: left;
	width: 100%;
}

#progress-bar {
	margin: 0 0 50px 0;
	float: left;
}

.footer {
  padding: 5px;
  background: $dashboard-background;
  border-top: 1px solid $panel-border-color
}

// COMPONENTS
// ----------

// .island {
//   // @include box-sizing(border-box);
//   margin: $baseNum * 2 0;
// }

.liquid-container, .liquid-child {
  // height: 100%;
}
