.editable-label {
  display: block;
  overflow: hidden;
  text-decoration: none;
  // max-height: 30px;
}

.editable-label-text {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Montserrat";
  // white-space: nowrap;
  // overflow: hidden;
}
