<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col">
      {{link-to "< Back to Josh Buys Stuff" "home" class="btn btn-jbs-dark fs-18"}}
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title m-0">Josh &amp; 2-Pac</div>
          <div class="card-title-secondary">And Baby Yoda</div>
        </div>
        <div class="card-block">
          <img src="/assets/images/2-pac-n-me.png" width="100%" alt="Josh and 2-PAC">
          <p class="subtle text-right">(The Stormtrooper's name is 2-Pac)</p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="card-title">About Josh</div>
        </div>
        <div class="card-block">
          <p>Hi, I'm Josh.</p>
          <p>I’m a lifelong LEGO fan and I recently got into making review videos on YouTube. Originally I started just recording time-lapses of my builds, but I soon realized I had more opinions on the sets I was building than could be conveyed in a YouTube description. Pair my opinions with a snarky Stormtrooper, and you’ve got Josh Builds Stuff.</p>
          <ol>
            <li class="question">How old are you?</li>
            <div class="answer">32 at the time of writing this, so an AFOL in every definition of the phrase.</div>
            <li class="question">Where do you live?</li>
            <div class="answer">Currently Austin, Texas, though I was born and raised in south Florida.</div>
            <li class="question">Favorite LEGO Theme?</li>
            <div class="answer">Star Wars by a long shot. You could have guessed that by the Stormtrooper who lives in my office.</div>
            <li class="question">Things you’re a fan of?</li>
            <div class="answer">Star Wars, obviously. Marvel especially the MCU. Disney, specifically anything related to Disney World since I spent much of my childhood there.</div>
            <li class="question">Favorite LEGO Set you own?</li>
            <div class="answer">UCS Millennium Falcon 75192. Set from the last year – Pirates of Barracuda Bay because of the nostalgia from having owned the original Black Seas Barracuda as a child. Technic set – Lamborghini Sian FKP 37.</div>
            <li class="question">Dream LEGO theme/set?</li>
            <div class="answer">Theme: Anything Jules Verne, steam-punkish, late industrial revolution era.</div>
            <div class="answer">Set: large-scale Nautilus from my all-time favorite novel/Disney ride 20,000 Leagues Under the Sea.</div>
          </ol>
          <p>If you have other questions or things you want to know about me, hit me up on twitter or Instagram, or leave a comment on my latest video.</p>
        </div>
      </div>
    </div>
  </div>
</div>