<div class="container">
  <div class="row justify-content-center m-t-15">

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-title m-0">Josh &amp; 2-Pac</div>
          <div class="card-title-secondary">And Baby Yoda</div>
        </div>
        <div class="card-block">
          <img src="/assets/images/2-pac-n-me.png" width="100%">
          <p class="subtle text-right">(The Stormtrooper's name is 2-Pac)</p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="card-title">About Josh</div>
        </div>
        <div class="card-block">
          <p>Hi, I'm Josh.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    {{link-to "< Back to Josh Buys Stuff" "home" class="btn btn-jbs-light fs-18"}}
  </div>
</div>