<div class="main-flex-body">
  <header class="jbs-header">
    <div class="container">
      <h1 class="header-title">Josh Buys Stuff</h1>
      <h5 class="header-subtitle"> Stuff Josh from <a href="https://youtube.com/joshbuildsstuff" target="new" class="underline">Josh Builds Stuff</a> Buys</h5>
    </div>
  </header>

  <main class="container">
    {{outlet}}
  </main>

  <footer class="jbs-footer text-center">
    Created by Josh | {{link-to "Affiliate Disclosure" "disclosure" class="link-blue no-decoration"}}
  </footer>
</div>
