<div class="container">
  <div class="row align-items-center justify-content-between mt-2">
    <div class="col">
      {{link-to "< Home" "home" class="link-actually-blue no-decoration fs-18"}}
    </div>
    {{#if session.isAuthenticated}}
      <div class="col-auto">
        {{link-to "Account" "account" class="btn btn-secondary mr-2"}}
        <button class="btn" {{action "invalidateSession"}}>Logout</button>
      </div>
    {{/if}}
  </div>

  {{outlet}}

</div>
