<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8">
      <div class="card m-t-15">
        <div class="card-header">
          <div class="card-title">Affiliate Disclosure</div>
        </div>
        <div class="card-block">
          <p>I am a member of some Affiliate Programs, and may display affiliate links on this page. By clicking on some links on this page, I may earn a very small commission either by referral or if you purchase something after visiting the linked pages.</p>
          <p>Of course, this process is completely anonymous and no information is shared with me throughout this process. Your buying experience on an affiliate page will look and feel no different than any other visit. It just lets the vendor know that you reached their site via one of my links.</p>
          <p>Affiliate links are completely safe and are very common, if you want to learn more, here's an explanation from <a class="link-actually-blue" href="https://www.investopedia.com/terms/a/affiliate-marketing.asp" target="_blank" rel="noopener">Investopedia</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center m-b-20">
    {{link-to "< Back to Josh Buys Stuff" "home" class="btn btn-jbs-dark fs-18"}}
  </div>
</div>