<div class="row w-100 justify-content-around">
  <div class="col-lg-3 mb-3">
    <div class="home-about-wrapper text-center row align-items-center mt-4">
      <div class="col-md-4 col-lg-12">
        <img class="about-logo" alt="Josh Buys Stuff" src="/assets/images/brand-round.png">
      </div>
      <div class="col-10 col-md-8 col-lg-11 m-auto">
        <p class="element-label mt-3">What is this?</p>
        <p>Hi, I'm Josh, this is Josh Buys Stuff and today we're talking about stuff Josh buys. Content creators will often post affiliate links. Personally, I think a link by itself is a bit of a disservice to the consumer, so I wanted to build a more detailed platform to share my opinions on stuff I buy.</p>
        <p>Here you'll find my unbiased opinions on stuff I have actually bought alongside some details of that stuff that will hopefully help you determine if it's worth buying.</p>
      </div>
    </div>

    <div class="home-socials text-center mt-3 row">
      <div class="col-sm-12 col-md-4 col-lg-12">
        <a href="https://youtube.com/joshbuildsstuff" target="_blank" rel="noopener">
          <img src="/assets/images/youtube-banner.png" alt="Josh Builds Stuff YouTube">
        </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-12">
        <a href="https://instagram.com/joshbuildstuff" target="_blank" rel="noopener">
          <img src="/assets/images/instagram-banner.png" alt="Josh Builds Stuff Instagram">
        </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-12">
        <a href="https://twitter.com/joshbuildsstuff" target="_blank" rel="noopener">
          <img src="/assets/images/twitter-banner.png" alt="Josh Builds Stuff Twitter">
        </a>

        <div class="col-10 col-md-8 col-lg-11 m-auto">
          <p class="element-label mt-3 text-center">Official LEGO Shop</p>
          <a href="https://click.linksynergy.com/fs-bin/click?id=JoQaukufCO4&offerid=115554.10001551&subid=0&type=4">
            <img class="mt-0" border="0" alt="LEGO Brand Retail" src="https://ad.linksynergy.com/fs-bin/show?id=JoQaukufCO4&bids=115554.10001551&subid=0&type=4&gridnum=0">
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-9">
    {{outlet}}
  </div>
</div>
