<div class="d-flex align-items-center justify-content-between">
  <h3>Sets</h3>
  <button class="btn btn-primary" {{action "openCreateSetModal"}}>Add Set</button>
</div>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Set Id</th>
          <th>Pieces</th>
          <th>Ages</th>
          <th>Price</th>
          <th>Theme</th>
          <th>Image</th>
          <th>Video</th>
          <th>Favorite</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each sets as |set|}}
          {{set-row
            set=set
            onEdit=(action "openEditSetModal")
            onDelete=(action "openDeleteSetModal")
          }}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div>
  <p class="text-right">Set Count: {{sets.length}}</p>
</div>

{{edit-set-modal
  isHidden=isEditSetModalHidden
  properties=selectedSetProperties
  themes=themes
  submitAction=(action selectedSetProperties.submitAction)
  animateClass="modal-animate"
  size="modal-large"
}}

{{#modal-confirm
  isHidden=isDeleteSetModalHidden
  title=(concat "Delete " setToDelete.name)
  confirmText="Delete"
  action="deleteSet"
  animateClass="modal-animate"
}}
  <p class="m-0">Are you sure you want to delete this set?</p>
{{/modal-confirm}}
